/* global css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 14.4px;
}
body {
  text-align: left;
  font-size: 400;
  line-height: 1.5;
}
body a, a:hover {
  cursor: pointer;
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: rgba(22, 28, 45, 0.7);
  font-family: 'Quicksand', sans-serif;
}
.icon {
  width: 70px;
  height: 70px;
  text-align: center;
  background: rgba(130, 115, 252, 0.05);
  line-height: 70px;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}
.icon span {
  color: #FF6600;
    font-size: 25px;
    line-height: 70px;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
/* /* RESPONSIVE */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
/* BANNER WITH HEADER */
.banner {
  background-size: cover;
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
    url(./img/banner1.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: initial;
  background-attachment: fixed;
  min-height: 700px;
}
.banner_header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 20px;
  padding: 40px 0 20px 0;
  align-items: center;
}
.banner_header .header_logo h1 a {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.banner_header .header_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  align-items: center;
}
.banner_header .header_content .search-bar {
  display: flex;
}
.banner_header .header_content .search-bar form {
  position: relative;
}
.banner_header .header_content .search-bar i {
  display: inline-block;
  position: absolute;
  right: 20px;
  font-size: 1rem;
  top: 15px;
  color: rgba(22, 28, 45, 0.7);
  cursor: pointer;
}

.banner_header .header_content .search-bar input {
  padding: 10px 50px 10px 20px;
  height: 45px;
  font-size: 1.12rem;
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
  border-radius: 6px;
  border: 1px solid white;
}
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch {
  position: relative;
  margin: 0;
}
.theme-switch input {
  display: none;
}
.theme-switch .mode-container {
  width: 24px;
  height: 24px;
  padding: 1px 0;
}
.gg-sun:before {
  transform: rotate(-45deg);
}
.gg-sun:after {
  transform: rotate(45deg);
}
.gg-sun:before,
.gg-sun:after {
  content: "";
  position: absolute;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px;
  display: block;
  width: 24px;
}
input:checked + .mode-container i.gg-sun {
  display: block;
}
.gg-sun {
  position: relative;
  transform: scale(var(--ggs, 1));
  height: 24px;
  background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat
      5px -6px/2px 6px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px
      6px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px
      2px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px
      2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent;
  color: #eee;
}
.gg-moon:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
  display: block;
  border-radius: 50%;
}
.mode-container i.gg-moon {
  display: block;
  color: #eee;
}
input:checked + .mode-container i.gg-moon {
  display: none;
}
.gg-moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid;
  border-bottom: 2px solid transparent;
}

/* NEW */
.new{
  background-color: #f7f7f7;
}
.title-pacifico{
  font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #FF6600;
    display: block;
  font-family: 'Pacifico', cursive;
  margin-bottom: 0rem;

}

.title-content{
  font-size: 38px;
    line-height: 48px;
    font-weight: 600;
  font-family: "Quicksand", sans-serif;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.new-item-img{
  position: relative;
}
.new-item-img img{
  max-width: 100%;
  border-radius: 6px;
  height: auto;
}
.new-item-img img:hover{
  opacity: 0.85;
  transition: all 0.4s;
}
.new-item-img ::after{
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  content: " ";
  position: absolute;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
  border-radius: 6px;
}
.new-item-info{
  left: auto;
    bottom: 0;
    width: 95%;
    padding: 0 10px;
    position: absolute;
    opacity: 1;
    transform: translate3d(0, 10%, 0);
}
.new-item-info a h4 {
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
}
.new-item-info h6 {
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  color: #ffc600;
  opacity: 0.9;
}
/* END NEW */

/* HOME SERVICE */
.home-service{
  position: relative;
}
.box{
  padding: 40px 40px;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
  background-color: #fff;
  position: relative;
  border: 1px solid #eee;
}
.box-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 30px;
}
.box-grid h4{
  margin-bottom: 0px;
}
.box-grid .info h4 a {
  font-size: 24px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 0px;
  display: block;
  color: #232121;
  font-family: "Quicksand", sans-serif;

}
.box-grid h4 a:hover{
  color: #FF6600;
}
.box:hover .icon{
  background-color: #ff6600;
    transition: 0.3s ease-in-out;
}
.box:hover .icon span{
  color: #fff;
    transition: 0.3s ease-in-out;
}
/* END HOME SERVICE */

/* MIDDLE */
.middle{
  background: url(./img/banner2.jpg) no-repeat center;
    background-size: cover;
    z-index: 1;
    position: relative;
}
.middle:before {
  content: "";
  background: rgb(16 15 19 / 66%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}
.middle-content{
  max-width: 700px;
  margin: 0 auto;
}
.middle-content h3{
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
  color: #fff;
  max-width: 800px;
  font-family: "Quicksand", sans-serif;
}
.btn{
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 6px;
  border: 2px solid transparent;
}
.btn-white {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}
.btn-white:hover {
  background: #fff;
  border: 2px solid #fff;
  color: #ff6600;
}
.btn-color{
  color: #fff;
  background-color: #ff6600;
  border: 2px solid #ff6600;
}
.btn-color:hover{
  opacity: 0.8;
  color: #fff;
  background-color: #ff6600;
  border: 2px solid #ff6600;
}
/* END MIDDLE */
/* STATS */
.stats{
  margin-top: -70px;
  z-index: 10;
  position: relative;
}
.stat-item{
  background-color: #fff;
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
  padding: 40px 20px;
  border-radius: 6px;
  text-align: center;
  transition: .3s ease;
}
.stat-item:hover{
  transform: translateY(-0.25rem);
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
    transition: .3s ease;
}
.stat-item i {
  background: #ff6600;
  font-size: 26px;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  line-height: 68px;
  color: #fff;
  text-align: center;
}
.counter{
  font-size: 2.6em;
    font-weight: 600;
    color: #232121;
}
p.count-text {
  text-transform: capitalize;
  color: rgba(22, 28, 45, 0.7);
  font-weight: 600;
}
/* END STATS */